---
import { About, SocialMedia } from "../data";
import { getCollection, getEntry } from "astro:content";
import Avatar from "../components/Avatar.astro";
import Container from "../components/Container.astro";
import ExternalLink from "../components/ExternalLink.astro";
import Layout from "../layouts/Layout.astro";
import Note from "../components/Note.astro";
import Section from "../components/Section.astro";
import SectionHeading from "../components/SectionHeading.astro";
import SocialLink from "../components/SocialLink.astro";
import { calculateReadingTime } from "../lib/utils";

const allNotes = await getCollection("notes", ({ data }) => {
  return data.isDraft !== true;
});
allNotes.sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()
);
---

<Layout>
  <main>
    <Container class="pt-10 md:pt-[4.75rem] pb-6 md:pb-12">
      <div class="w-full md:w-2/3">
        <div
          class="motion-safe:animate-text-reveal"
          style="--text-reveal-opacity-step-0:1;--text-reveal-x-step-0:0;--text-reveal-y-step-0:0px;--text-reveal-opacity-step-1:1;--text-reveal-x-step-1:0;--text-reveal-y-step-1:0px;--text-reveal-opacity-step-2:1;--text-reveal-x-step-2:0;--text-reveal-y-step-2:0px;--text-reveal-opacity-step-3:1;--text-reveal-x-step-3:0;--text-reveal-y-step-3:0px;"
        >
          <Avatar class="mb-6" />
        </div>
        <h2
          class="mb-4 text-4xl/none md:text-5xl/none font-bold text-gray-900 dark:text-white motion-safe:animate-text-reveal"
          style="--text-reveal-opacity-step-0:0;--text-reveal-x-step-0:0;--text-reveal-y-step-0:25px;--text-reveal-opacity-step-1:1;--text-reveal-x-step-1:0;--text-reveal-y-step-1:0px;--text-reveal-opacity-step-2:1;--text-reveal-x-step-2:0;--text-reveal-y-step-2:0px;--text-reveal-opacity-step-3:1;--text-reveal-x-step-3:0;--text-reveal-y-step-3:0px;"
        >
          {About.title}
        </h2>
        <p
          class="mb-6 text-base md:text-lg md:text-balance text-gray-500 dark:text-gray-400 motion-safe:animate-text-reveal"
          style="--text-reveal-opacity-step-0:0;--text-reveal-x-step-0:0;--text-reveal-y-step-0:25px;--text-reveal-opacity-step-1:0;--text-reveal-x-step-1:0;--text-reveal-y-step-1:25px;--text-reveal-opacity-step-2:1;--text-reveal-x-step-2:0;--text-reveal-y-step-2:0px;--text-reveal-opacity-step-3:1;--text-reveal-x-step-3:0;--text-reveal-y-step-3:0px;"
        >
          {About.description}
          <ExternalLink href={About.link.href}>
            {About.link.text}
          </ExternalLink>
        </p>
        <ul
          class="flex align-middle gap-6 motion-safe:animate-text-reveal"
          style="--text-reveal-opacity-step-0:0;--text-reveal-x-step-0:0;--text-reveal-y-step-0:25px;--text-reveal-opacity-step-1:0;--text-reveal-x-step-1:0;--text-reveal-y-step-1:25px;--text-reveal-opacity-step-2:0;--text-reveal-x-step-2:0;--text-reveal-y-step-2:25px;--text-reveal-opacity-step-3:1;--text-reveal-x-step-3:0;--text-reveal-y-step-3:0px;"
        >
          {
            SocialMedia.map((socialProfile) => (
              <li>
                <SocialLink
                  text={socialProfile.text}
                  href={socialProfile.href}
                  icon={socialProfile.icon}
                />
              </li>
            ))
          }
        </ul>
      </div>
    </Container>
    <Container class="grid grid-cols-1 md:grid-cols-12">
      <div class="md:col-span-7">
        <Section>
          <SectionHeading
            title="Latest Notes"
            text="Check out some of my thoughts on programming."
          />
          <div class="flex flex-col gap-12">
            {
              allNotes.slice(0, 5).map(async (note) => {
                const topic = await getEntry(note.data.topic);
                const logo = await getEntry(topic.data.logo);
                const readingTime = calculateReadingTime(note.body);
                return (
                  <Note
                    slug={note.slug}
                    title={note.data.title}
                    publishDate={note.data.publishDate}
                    description={note.data.description}
                    topic={{
                      name: topic.data.name,
                      description: topic.data.description,
                      logo: logo.data,
                    }}
                    readingTime={readingTime}
                  />
                );
              })
            }
          </div>
        </Section>
      </div>
      <div class="md:col-span-4 md:col-start-9 py-6 md:py-10"></div>
    </Container>
  </main>
</Layout>
