---
import type { NavigationItem } from "../types/index";

interface Props {
  navigation: NavigationItem[];
  brand: string;
}

const { pathname } = Astro.url;
const { navigation, brand } = Astro.props;
const date = new Date();
---

<footer
  class="flex flex-col md:flex-row gap-6 justify-between items-center max-w-screen-lg mx-auto mt-6 md:mt-12 pt-6 pb-8 md:pb-16 px-4"
>
  <p class="font-medium flex flex-wrap justify-center gap-4">
    {
      navigation.map((navigationItem) => (
        <a
          href={navigationItem.href}
          class="block text-gray-900 dark:text-white text-sm hover:text-primary-700 dark:hover:text-primary-500"
          aria-label={navigationItem.label}
          aria-current={pathname === navigationItem.href ? "page" : null}
        >
          {navigationItem.text}
        </a>
      ))
    }
  </p>
  <p class="text-sm text-gray-400 dark:text-gray-500">
    &copy; {date.getFullYear()}
    {brand}. All rights reserved.
  </p>
</footer>
