---
import Icon from "./Icon.astro";

interface Props {
  href: string;
  target?: string;
  size?: string;
  isDisabled?: boolean;
  class?: string;
}

const {
  href,
  target = "_self",
  size = "base",
  isDisabled = false,
} = Astro.props;
let baseClasses = `antialiased font-medium text-${size}`;
const iconSizeClass = size === "sm" ? "size-4" : "size-5";

if (Astro.props.class) {
  baseClasses = `${baseClasses} ${Astro.props.class}`;
}
---

<a
  href={isDisabled ? undefined : href}
  target={isDisabled ? undefined : target}
  aria-disabled={isDisabled ? "true" : "false"}
  class={isDisabled
    ? `${baseClasses} text-gray-500 dark:text-gray-400`
    : `${baseClasses} text-primary-600 dark:text-primary-500 hover:underline`}
>
  <div class="inline-flex gap-2 items-center">
    <slot />
    {
      target === "_blank" ? (
        <Icon name="external-link" class={iconSizeClass} />
      ) : (
        <Icon name="arrow-right" class={iconSizeClass} />
      )
    }
  </div>
</a>
