---
import { getEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import FramedLogo from "@/components/FramedLogo.astro";
import Heading from "@/components/Heading.astro";
import Icon from "@/components/Icon.astro";
import Metadata from "@/components/Metadata.astro";
import MetadataItem from "@/components/MetadataItem.astro";
import ReadingTime from "@/components/ReadingTime.astro";
import Text from "@/components/Text.astro";
import type { InferEntrySchema } from "astro:content";

interface Props {
  slug: string;
  note: InferEntrySchema<"notes">;
  readingTime: number;
  class?: string;
}

const { slug, note, readingTime, class: className } = Astro.props;

const topic = await getEntry(note.topic);

const logo = await getEntry(topic.data.logo);
---

<article
  class:list={["flex gap-4 relative group", className]}
  itemscope
  itemtype="https://schema.org/BlogPosting"
>
  <div>
    <FramedLogo
      name={topic.data.name}
      image={logo.data.image}
      class="relative z-10 group-hover:scale-110 transition"
    />
  </div>
  <div class="flex flex-col gap-4 justify-between">
    <div class="flex flex-col gap-2">
      <Heading as="h3" itemprop="headline">
        <span
          class="absolute -inset-y-4 -inset-x-4 z-0 scale-95 bg-gray-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-gray-800/50 md:rounded-lg"
        ></span>
        <a href={`/notes/${slug}`} itemprop="url">
          <span class="absolute -inset-y-4 -inset-x-4 z-20 md:rounded-lg"
          ></span>
          <span class="relative z-10">{note.title}</span>
        </a>
      </Heading>
      <Metadata size="sm" class="relative z-10">
        <MetadataItem size="sm">
          <FormattedDate
            date={note.publishDate}
            format="YYYY-MM-DD"
            itemprop="datePublished"
          />
        </MetadataItem>
        <MetadataItem size="sm">
          <ReadingTime time={readingTime} />
        </MetadataItem>
      </Metadata>
      <Text
        as="p"
        color="gray.500"
        size="sm"
        class="relative z-10"
        itemprop="description"
      >
        {note.description}
      </Text>
    </div>
    <div
      class="relative z-10 flex items-center gap-1 text-sm font-medium text-primary-700 dark:text-primary-500"
      aria-hidden="true"
    >
      Read note
      <Icon name="arrow-right" />
    </div>
  </div>
</article>
