---
import FormattedDate from "../components/FormattedDate.astro";
import FramedLogo from "../components/FramedLogo.astro";
import Icon from "./Icon.astro";
import NoteMeta from "../components/NoteMeta.astro";
import NoteMetaSeparator from "./NoteMetaSeparator.astro";
import ReadingTime from "./ReadingTime.astro";
import type { Topic } from "../types";

interface Props {
  slug: string;
  publishDate: Date;
  title: string;
  description: string;
  topic: Topic;
  readingTime: number;
  class?: string;
}

const {
  slug,
  publishDate,
  title,
  description,
  topic,
  readingTime,
  class: className,
} = Astro.props;
---

<article
  class:list={["flex gap-4 relative group", className]}
  itemscope
  itemtype="https://schema.org/BlogPosting"
>
  <div>
    <FramedLogo
      name={topic.name}
      image={topic.logo.image}
      class="relative z-10 group-hover:scale-110 transition"
    />
  </div>
  <div class="flex flex-col gap-4 justify-between">
    <div>
      <h3
        class="text-base font-semibold text-gray-900 dark:text-white mb-2"
        itemprop="headline"
      >
        <span
          class="absolute -inset-y-4 -inset-x-4 z-0 scale-95 bg-gray-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-gray-800/50 md:rounded-lg"
        ></span>
        <a href={`/notes/${slug}`} itemprop="url">
          <span class="absolute -inset-y-4 -inset-x-4 z-20 md:rounded-lg"
          ></span>
          <span class="relative z-10">{title}</span>
        </a>
      </h3>
      <NoteMeta class="relative z-10 mb-2 gap-2">
        <FormattedDate
          date={publishDate}
          class="text-sm"
          itemprop="datePublished"
        />
        <NoteMetaSeparator />
        <ReadingTime time={readingTime} class="text-sm" />
      </NoteMeta>
      <p
        class="relative z-10 text-sm text-gray-500 dark:text-gray-400"
        itemprop="description"
      >
        {description}
      </p>
    </div>
    <div
      class="relative z-10 flex items-center gap-1 text-sm font-medium text-primary-700 dark:text-primary-500"
      aria-hidden="true"
    >
      Read note
      <Icon name="arrow-right" />
    </div>
  </div>
</article>
