---
import Dot from "../components/Dot.astro";
import FramedLogo from "../components/FramedLogo.astro";
import Icon from "./Icon.astro";
import TechStackItem from "./TechStackItem.astro";
import type { Link, Logo } from "../types";

interface Props {
  title: string;
  description: string;
  logo: Logo;
  techStack: Logo[];
  livePreview: {
    isActive: boolean;
    link: Link;
  };
}

const { title, description, logo, techStack, livePreview } = Astro.props;
---

<article class="relative group flex flex-col gap-4">
  <div>
    <FramedLogo name={logo.name} image={logo.image} className="relative z-10" />
  </div>
  <div>
    <div class="flex items-center gap-2 mb-2">
      <Dot
        color={livePreview.isActive ? "green" : "red"}
        className="relative z-10"
      />
      <h3 class={"text-base font-semibold text-slate-900 dark:text-white"}>
        <span
          class={`absolute -inset-y-4 -inset-x-4 z-0 scale-95 bg-slate-50 opacity-0 transition dark:bg-slate-800/50 sm:rounded-2xl ${livePreview.isActive ? "group-hover:scale-100 group-hover:opacity-100" : ""}`}
        ></span>
        <a
          href={livePreview.isActive ? livePreview.link.href : undefined}
          target={livePreview.isActive ? "_blank" : undefined}
          aria-disabled={livePreview.isActive ? "true" : "false"}
        >
          <span class="absolute -inset-y-4 -inset-x-4 z-20 sm:rounded-2xl"
          ></span>
          <span class="relative z-10">{title}</span>
        </a>
      </h3>
    </div>
    <p
      class="text-sm text-pretty text-slate-500 dark:text-slate-400 relative z-10"
    >
      {description}
    </p>
  </div>
  <div class="relative z-10 flex content-start flex-wrap items-center gap-3">
    {
      techStack.map((item) => (
        <TechStackItem name={item.name} image={item.image} />
      ))
    }
  </div>
  <div
    class=`relative z-10 flex items-center gap-1 ${livePreview.isActive ? "text-blue-600" : "text-slate-400"}`
  >
    <span class="font-medium text-sm">{livePreview.link.text}</span>
    <Icon name="external-link" className="size-4" />
  </div>
</article>
