---
import Link from "../components/Link.astro";
import Dot from "../components/Dot.astro";
import type { Project as Props } from "../types/index";

const { logo, heading, text, techStack, livePreview } = Astro.props;
---

<article
  class=`antialiased group flex flex-col ${livePreview.isActive ? "hover:cursor-pointer" : ""}`
>
  <a
    href={livePreview.isActive ? livePreview.link.href : undefined}
    target={livePreview.isActive ? "_blank" : undefined}
    aria-disabled={livePreview.isActive ? "true" : "false"}
    class="block pb-6"
  >
    <div
      class="mb-6 size-12 rounded-lg border flex items-center justify-center bg-white shadow-sm"
    >
      <img class="size-7" src={logo.src} alt={logo.alt} />
    </div>
    <div class="mb-6">
      <h3
        class={`mb-1 text-base md:text-lg font-semibold text-gray-900 dark:text-white ${livePreview.isActive ? "group-hover:text-gray-600" : ""}`}
      >
        {heading}
      </h3>
      <p class="text-sm text-pretty text-gray-500 dark:text-gray-400">
        {text}
      </p>
    </div>
    <ul class="flex content-start flex-wrap gap-2">
      {
        techStack.map((item) => (
          <li>
            <span class="inline-flex items-center gap-1 rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10 tracking-tight">
              <img
                src={item.logo.src}
                alt={item.logo.alt}
                class="h-[10px] w-auto"
              />
              {item.text}
            </span>
          </li>
        ))
      }
    </ul>
  </a>
  <Link
    href={livePreview.link.href}
    target="_blank"
    size="sm"
    isDisabled={!livePreview.isActive}
    class={livePreview.isActive ? "group-hover:underline flex py-1" : undefined}
  >
    <Dot status={livePreview.isActive ? "success" : "error"} size="sm" />
    <span class="leading-none">{livePreview.link.text}</span>
  </Link>
</article>
