---
// Supports weights 100-900
import "@fontsource-variable/inter";
import { Brand, Navigation } from "@/data";
import { SEO } from "astro-seo";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import type { Props } from "astro-seo";
---

<!doctype html>
<html lang="en" class="min-h-full">
  <head>
    <meta charset="utf-8" />
    <SEO {...Astro.props} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="antialiased mt-14 bg-white dark:bg-gray-900">
    <Header brand={Brand} navigation={Navigation} />
    <slot />
    <Footer navigation={Navigation} brand={Brand} />
  </body><script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
  ></script>
</html>

<style is:global>
  body {
    min-height: calc(100vh - 56px);
  }
</style>
